name: CI

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '**'

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  
      - name: setup gitHub profile 
        run: |
          git config user.name "tosspayments-bot"
          git config user.email "70372587+tosspayments-bot@users.noreply.github.com"
      - name: setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: npm upgrade
        run: npm install -g npm@11.5.1
      - name: yarn install
        run: yarn install --immutable
      - name: publish packages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm config set provenance true
          yarn changeset version
          git add .
          git commit -m "Version packages" || true
          git push
          yarn changeset publish