name: CI

on:
  push:
    branches:
      - 'main'
      - 'beta'
      - 'alpha'
  pull_request:
    branches:
      - '**'

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Toss Payments 공통 설정
        uses: ./.github/actions/configure
        with:
          npm_token: ${{ secrets.NPM_TOKEN }}
      - name: Node.js 환경 설정
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: 'SINCE_FROM_REF 환경변수 설정'
        run: |
          if [[ ${{ github.ref }} == 'refs/heads/main' ]]; then
            echo "SINCE_FROM_REF=$(git rev-parse HEAD~1)" >> $GITHUB_ENV
          elif [[ ${{ github.ref }} == 'refs/heads/staging'* ]]; then
            echo "SINCE_FROM_REF=$(git rev-parse HEAD~1)" >> $GITHUB_ENV
          elif [[ ${{ github.event_name }} == 'pull_request' ]]; then
            echo "SINCE_FROM_REF=$(git rev-parse origin/${{ github.base_ref }})" >> $GITHUB_ENV
          else
            echo "SINCE_FROM_REF=$(git rev-parse origin/main)" >> $GITHUB_ENV
          fi
      - name: yarn install
        run: yarn install --immutable
      - name: Run Test
        run: yarn workspaces since run test $SINCE_FROM_REF --jobs=5
      - name: 릴리즈
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/beta' || github.ref == 'refs/heads/alpha'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          yarn lerna version --conventional-commits --exclude-dependents --yes --git-remote origin
          yarn lerna publish from-git --yes --concurrency=2
