name: CI

on:
  push:
    branches:
      - main
  pull_request:

env:
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup gitHub profile 
        run: |
          git config user.name "tosspayments-bot"
          git config user.email "70372587+tosspayments-bot@users.noreply.github.com"
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Setup node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: pnpm
      - name: Install dependencies
        run: pnpm install
      - name: Publish packages
        if: github.ref == 'refs/heads/main'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm config set provenance true
          pnpm changeset version
          if [ -n "$(git status --porcelain)" ]; then
            git add .
            git commit -m "Version packages"
            git push
          fi
          pnpm changeset publish
